@charset "utf-8";
/* CSS Document */
body
{
	font-family:"Times New Roman", Times, serif;
}
.navbar-brand>img {
    display: block;
    margin-top: -17px;
}
h2, .h2 {
    font-size: 24px;
    margin-bottom: 26px;
}
.text_tieude{
	font-size:40px;
	line-height:40px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
	background-image:url(../images/Trang_chu_05.jpg)
}
.right{
	padding-left:40px;
}
.text_phude{
	font-size:24px;
}
.text
{
	padding-top:15px;
}
.xemthem a{
	color:#ddc976;
}
.xem_them a
{
	color:#FFF;
}
.xemthem a:hover{
	text-decoration:none;
}
.div_text{
	margin-bottom:30px;
}


.bg
{
	background:#ddc976;
	padding:20px;
}
.container_seclection{
	padding-left:100px;
	padding-right:100px;
	margin-bottom:40px;
}
.dat_phong{
	padding:20px;
	border-radius:10px;
	border:1px solid #CCC;
	-webkit-box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
	-moz-box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
	box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
	background:#FFF;
	position: relative;
    z-index: 20000;
    margin-top: -48px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height:26px;
	webkit-border-radius: 0px;
     border-radius: 0px;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
	border:1px solid #ddc976;
	margin-bottom:10px;
	width:100%;
}
.button
{
	margin-top: 0px;
    width: 50%;
    height: 42px;
    background: #ddc976;
}
.tran_text
{
    width: auto;
    height:60px;
    overflow: hidden;
}
input
{
	width:100%;
}
.nguoi_lon
{
	width:100%;
}
.main_aside
{
	background:url(../img/images/bg_02.jpg);
}
.text_left
{
	padding-left:60px;
	padding-right:40px;
	border-right:1px solid #999;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ddc976;
}
.navbar-inverse {
    background-color:#232323;
    border-color:#232323;
	margin-top: -20px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border:none;
}
.float
{
	 float:right; 
	 margin-top:15px;
}
.row-fluid .span12 {
    position: relative;
    z-index: 20000;
    margin-top: -45px;
}
.navbar .nav>li>a {
    padding: 15px 10px 15px 10px;
}
.footer
{
	background:#232323;
	padding: 20px 0px 20px 0px;
	color:#ddc976;
	font-size:14px;
	font-family:"Times New Roman", Times, serif;
}
.div_dc
{
	text-align:center;
	color:#999;
}
/* Trang giới thiệu*/

.dat_phong_GT
{
	padding: 0px 100px 20px 100px;
    margin-top: 96px;
    border: 1px solid #FFF;
}
.aside_tieude
{
	margin-top:80px;
	margin-bottom:40px;
}
.text_gt
{
	margin-top:40px;
	margin-bottom:20px;
}
.img_gt
{
	margin-bottom:40px;
}
.text_bg_gt
{
	padding:30px;
	background:#ddc976;
	margin-top: -15px;
}
.gioi_thieu
{
	margin-top:67px;
}
.dat_phong2{
	padding:20px;
	border-radius:10px;
	border:1px solid #CCC;
	-webkit-box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
	-moz-box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
	box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
	background:#FFF;
	margin-top:105px;
}
.dat_phong5{
	padding:20px;
	border-radius:10px;
	border:1px solid #CCC;
	-webkit-box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
	-moz-box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
	box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
	background:#FFF;
	margin-top:105px;
}
.content
{
	border:1px #999999 solid;
	padding:40px;
	margin-left: 50px;
    margin-right: 50px;
	margin-bottom:25px;
	border-radius: 20px;
}
.saigon_center
{
	font-size: 40px;
	margin-top: 80px;
    margin-bottom: 10px;
}
.le_tan
{
	padding:15px 10px 10px 0px;
	border:1px solid #666;
}
.img_gioi_thieu
{
	margin-bottom:50px;
}
.phong_an
{
	    padding: 20px 25px 0px 25px;
    	background: #ddc976;
		margin-bottom:45px;
}
.phongan
{
	border:none;
}


/* loai phong */
	.text_loai_phong
	{
		padding-left:150px;
		padding-right:150px;
		margin-bottom:25px;
	}
	.loai_phong
	{
		margin-top:-25px;
	}
	.div_img
	{
		margin-bottom:40px;
	}
	.chi_tiet
	{
		border: #ddc976 1px solid;
		color:#ddc976;
		padding:8px 20px 8px 20px;
		background:none;
	}
	.dat_phong4{
		padding:20px;
	border-radius:10px;
	border:1px solid #CCC;
	-webkit-box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
	-moz-box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
	box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
	background:#FFF;
	margin-top:105px;
		}
	
	/* chi tiet loai phong */
	
	.dat_phong3{
		padding:0 60px 80px 60px;
		border-radius:0px;
		border:none;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		background:#FFF;
		margin-top:105px;
		}
	.tien_nghi_phong
	{
		border:1px solid #363636;
		border-radius:15px;
		padding:15px;
	}
	.center {
	margin: auto;
	width: 40%;
	}
	.ct_phong
	{
		margin-top:-11px;
	}
	.content_head
	{
		margin-bottom:30px;
	}
	.tnp
	{
		padding-left:80px;
		padding-right:80px;
		margin-bottom:30px;
	}
	.div_hinh
	{
		margin-bottom:50px;
	}
	.tieu_de
	{
		background: #FFF;
		padding: 0;
		margin-bottom: -18px;
		position: relative;
		z-index: 1;
		/* border: 1px solid; */
		width: 292px;
	}
	.bao_gia
	{
		font-size: 30px;
		color: red;
		border: 1px solid coral;
		padding: 15px;
		width: 34%;
		margin-bottom: 50px;
	}
	.border
	{
		color:#999;
	}
/* dich vu */
.div_dich_vu
{
	border:1px solid #000;
	border-radius: 20px;
	padding:30px;
	padding-top:130px;
	margin-bottom:50px;
}
.dich_vu
{
	padding: 0;
	margin-bottom: -118px;
	position: relative;
	z-index: 1;
	/* border: 1px solid; */
}
.bg_dvu
{
	padding:25px;
	background:#ddc976;
	margin-bottom:20px;
}
.bggdv
{
	padding:25px;
	margin-bottom:20px;
}
.padding_dv_text
{
	padding-left:150px;
	padding-right:150px;
	margin-bottom:50px;
}
.padding_dv
{
	padding-left:50px;
	padding-right:50px;
}


/* liên hệ */
.lien_he_text
{
	text-align:center;
	margin-top:10px;
}
.tieude_ttcn
{
	background: white;
    padding: 15px;
}
.nd_ttcn
{
	border:2px solid #CCC;
	padding:70px 30px 30px 30px;
	
}
.row_ttcn
{
	padding-left: 50px;
    padding-right: 50px;
}

.thong_tin_ca_nhan
{
	margin-bottom:50px;
}
.padding_ttcn
{
	padding-left:70px;
}
.div_ttcn
{
	position: relative;
    z-index: 1;
    margin-bottom: -25px;
}
.tt_lienhe
{
	background:#ddc976;
}
input.lh_ten
{
	height: 35px;
    border: 1px solid #999;
	margin-bottom:20px;
}
.nd_ttlh
{
	padding:50px;
}
.padding_ttlh
{
	padding-left:100px;
	padding-right:100px
}
.ttlh
{
	margin-bottom:20px;
	margin-top:40px;
}
.text_lh
{
	margin-bottom:10px;
}
.thong_tin_lien_he
{
	margin-bottom:50px;
}
input.lh_mail
{
	height: 35px;
    border: 1px solid #999;
	margin-bottom:20px;
}
textarea.lh_loinhan
{
	height:auto;
    border: 1px solid #999;
}
.ten, .email, .loinhan
{
	padding-left: 70px;
    padding-right: 70px;
}
.hoan_tat
{
	width: 50%;
    height: 45px;
    border: none;
    margin-top: 25px;
	background:#EBEBEB;
}
.ban_do
{
	padding-top:15px;
	padding-bottom:15px;
}
.hoan_tat:hover
{
	background:#ddc976;
}
@media screen and (max-width:1199px){
	.gioi_thieu{
		margin-top:94px;
	}
	.dat_phong4 {
		margin-top: 132px;	
	}
	.tnp {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
	}
	.bao_gia {
    font-size: 24px;
	}
	.text_left {
    padding-left: 25px;
    padding-right: 25px;
    border-right: 1px solid #999;
}
@media screen and (min-width: 961px) and (max-width:1144px) {
	.text_tieude {
		font-size: 30px;
		line-height: 40px;
	}
}
@media screen and (min-width:991px) and (max-width:1045px) {
	.text_left {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (max-width:991px){
	.text_left {
		padding-left: 60px;
		padding-right: 40px;
		border-right:none;
	}
	.row_ttcn {
		padding-left:0px;
		padding-right:0px;
	}
	.padding_ttcn {
    	padding-left: 0px;
	}
	ten, .email, .loinhan {
		padding-left: 10px;
		padding-right: 10px;
	}
	.tieude_ttcn {
		font-size: 24px;
	}
	img.gioi_thieu{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.dat_phong4 {
		margin-top:108px;	
	}
	.padding_ttlh {
		padding-left: 0px;
		padding-right: 0px;
	}
	.ten, .email, .loinhan {
		padding-left: 10px;
		padding-right: 10px;
	}
	.bao_gia {
    width: 43%;
	}
	.padding_dv_text {
		padding-left: 50px;
		padding-right: 50px;
		margin-bottom: 0px;
	}
	
}
@media screen and (min-width:736px) and (max-width:900px) {
	.text_tieude {
		font-size: 30px;
		line-height: 40px;
	}
	.padding_ttlh {
    	padding-left: 45px;
	}
	.ttlh h2
	{
		font-size:22px;
	}

}
@media screen and (min-width:736px) and (max-width:800px) {
	.text_tieude {
		font-size: 23px;
		line-height: 40px;
	}
	.ttlh h2
	{
		font-size:22px;
	}
	
}
@media screen and (max-width:766px) {
	.row {
		margin-right: 0px;
		margin-left: -15px;
	}
	.ttlh h2
	{
		font-size:22px;
	}
	.dat_phong4 {
		margin-top:0px;
		margin-bottom:-50px;
	}
	.xemthem a{
		color:#FFF;
	}
	.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
		margin-right: -15px;
		margin-left: -15px;
		margin-top: 20px;
	}
	.dat_phong {
		padding: 20px;
		border-radius: 10px;
		border: 1px solid #CCC;
		-webkit-box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
		-moz-box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
		box-shadow: 5px 5px 16px -3px rgba(61,55,61,1);
		background: #FFF;
		position: relative;
		z-index: 5;
		}
	.dat_phong2 {
		margin-top: 0px;
	}
	.maggin{
		margin-bottom:10px;
	}
	.content {
    margin-left:0px;
    margin-right:0px;
	}
	.float
	{
		 float:right; 
		 margin-top:-33px;
	}
	img.gioi_thieu {
    	margin-top: 67px;
	}
	.bg_bg
	{
		background:#ddc976;
		padding:20px;
	}
	.text_gioi_thieu
	{
		padding-left:30px;
		padding-right:30px;
	}
	.text_bg_gt
	{
		padding:30px;
		background:#ddc976;
		margin-top: -15px;
		margin-left:15px;
		margin-right:15px;
	}
	.ttlh h2
	{
		font-size:22px;
	}
	.padding_dv_text {
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 0px;
	}
	.main_section
	{
		padding-left: 5px;
    	padding-right: 5px;
	}

	
@media screen and (max-width:600px) {
	.container_seclection {
    padding-left: 20px;
    padding-right: 5px;
    margin-bottom: 10px;
	}
	.dat_phong_GT {
		padding: 0px 17px 20px 17px;
		margin-top: 96px;
		border: 1px solid #FFF;
	}
	.ten, .email, .loinhan {
		padding-left: 0px;
		padding-right: 0px;
	}
	.padding_ttcn {
    	padding-left: 0px;
	}
	.tieude_ttcn {
    	font-size: 20px;
	}
	.ttlh h2
	{
		font-size:22px;
	}
	.nd_ttcn {
  		 padding: 40px 30px 30px 30px;
	}
	.dat_phong {
    	margin-top: 5px;
	}
	.dat_phong3 {
		padding: 0 5px 44px 5px;
		border-radius: 0px;
		border: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background: #FFF;
		margin-top: 50px;
	}
	.bggdv {
		padding: 0px;
		margin-bottom:0px;
	}
	.padding_dv {
		padding-left: 0px;
		padding-right: 0px;
	}
	.content {
		border: 1px #999999 solid;
		padding: 25px;
	}
	
@media screen and (max-width:530px) {
	.text_tieude {
		font-size: 30px;
		line-height: 40px;
	}
	.padding_dv_text {
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 0px;
	}
	.text_phude {
		font-size: 19px;
	}
	.dat_phong2 {
    padding: 20px 0px 20px 0px;
	}
	.div_dich_vu {
    border:none;
    border-radius: 20px;
    padding: 30px; 
    padding-top: 46px;
    margin-bottom: 30px;
}
	.dich_vu {
		padding: 0;
		margin-bottom: -35px;
	}
	.center {
			margin: auto;
			width: 90%;
	}
	.bao_gia {
    	font-size: 15px;
	}
	
}
@media screen and (max-width:439px) {
	.text_tieude {
		font-size: 22px;
		line-height: 40px;
	}
	.tieude_ttcn {
		font-size: 18px;
	}
	.dich_vu {
    padding: 0;
    margin-bottom: -41px;
	}
	.tieu_de h2
	{
		font-size:23px;
	}
	.center {
	margin: auto;
	width: 90%;
	}
	.tnp
	{
		padding-left:20px;
		padding-right:20px;
		margin-bottom:20px;
	}
	.tieu_de
	{
		background: #FFF;
		padding: 0;
		margin-bottom: -18px;
		position: relative;
		z-index: 1;
		/* border: 1px solid; */
		width: 252px;
	}

}
@media screen and (max-width:356px) {
	.mobile_356
	{
		padding-right: 0px;
    	padding-left: 0px;
	}
	
	.text_tieude {
    font-size: 18px;
   }
   .tieude_ttcn {
		font-size: 14px;
	}
	.content {
    padding: 15px;
	}
	.dat_phong {
    padding: 20px 0px 20px 0px;
	}
	.text_left {
    padding-left: 27px;
    padding-right: 8px;
	}
	.bg_bg {
    padding: 20px 0px 20px 0px;
	}
	.bg {
    padding: 20px 0px 20px 0px;
	}
	.tieu_de h2
	{
		font-size:18px;
	}
	.tieu_de
	{
		background: #FFF;
		padding: 0;
		margin-bottom: -18px;
		position: relative;
		z-index: 1;
		/* border: 1px solid; */
		width: 212px;
	}
	
}